
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="eventNavBtn" id="divActivityNavBtn">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitActivBtn">
                        <strong>ACTIVITY</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activity" role="dialog">
    <div class="row">
        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">
                            <div class="form-group" id="divActivityDetails">
                                <input class='eventDetailsOnMap' type="hidden" data-id="{{details.id}}" data-name="{{details.name}}" data-location="{{details.location}}" data-start="{{details.start_time}}"
                                    data-end="{{details.end_time}}" data-phone="{{details.phone_contact}}">
                                <label for="activity" id="lblActivityDetails">
                                    <b>{{details.name}}</b>
                                    <br> Total Number of Player(s) Needed :
                                    <i>{{details.attendants}}</i>
                                    <br> Number of Player(s) Commited :
                                    <i>{{this.numberAttending}}</i>
                                    <br> Gender Specific :
                                    <i>{{details.gender}}</i>
                                    <br>
                                    <br> Start Time :
                                    <i class="time">{{details.start_time}}</i>
                                    <br> End Time :
                                    <i class="time">{{details.end_time}}</i>
                                    <br>
                                    <br> Location :
                                    <i class="event_detail_location">{{details.location}}</i>
                                    <br> Hosted by :
                                    <i>{{details.host}}</i>
                                    <br> Fees :
                                    <i>{{details.fees}}</i>
                                </label>
                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group" id="divUsers">
                                <div class="commitedPlayers">
                                    <strong>- Players Who Have Commited To This Event -</strong>
                                </div>
                                <br>
                                <div class="row">
                                    {{#if attendingUsers}} {{#each attendingUsers}}
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" src="{{this.photo}}">
                                        <br>
                                        <br>
                                        <label class="lblUserName"> {{this.first_name}} {{this.last_name}}</label>
                                        <br>
                                        <button data-host-id='{{../details/UserId}}' data-event-id="{{../details/id}}" data-user-id="{{this.id}}" class="cmdBoot btn">Boot User</button>
                                    </div>
                                    {{/each}} {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" id="btnUserInfoCancel" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- //// my events - my signed up events - modal ////////////////////////////////////////////////////////// =-->

        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event Map</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 64px;">
                        <div class="row">
                            <div class="form-group" id="divEventWeather">
                                <label for="eventWeather" id="lblEventWeather">
                                    <div class="weatherHeading">
                                        <span class="nav-glyph cloud-glyph glyphicon glyphicon-cloud"></span>5 Days Weather Prediction
                                    </div>
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class='wlc'></th>
                                                    <th>Today</th>
                                                    <th>Tomorrow</th>
                                                    <th class='day3'></th>
                                                    <th class='day4'></th>
                                                    <th class='day5'></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Forecast</td>
                                                    <td class='fc1'></td>
                                                    <td class='fc2'></td>
                                                    <td class='fc3'></td>
                                                    <td class='fc4'></td>
                                                    <td class='fc5'></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Weather</td>
                                                    <td class='w1'></td>
                                                    <td class='w2'></td>
                                                    <td class='w3'></td>
                                                    <td class='w4'></td>
                                                    <td class='w5'></td>
                                                </tr>   
                                            </tbody>
                                                
                                            </thead>
                                        </table>
                                    </div>
                                </label>
                                <div id="mapCanvas" style="width: 500px; height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event Blog</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">
                            <div id="msg-center" class='msg-center alert text-center'></div>
                            <div class="form-group" id="divEventBlog">
                                {{#if discussion}} {{#each discussion}}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{this.message}}
                                        <br />
                                        <p class="text-right">by : {{this.User.first_name}}, {{this.User.last_name}}</span>
                                            <p class="text-right">
                                                <i class="time">{{this.createdAt}}</i>
                                            </p>
                                    </div>
                                    <div data-user-id='{{this.UserId}}' class="panel-footer post-delete-footer">
                                        <button type="button" data-id="{{this.id}}" class="cmdDeletePost">Delete Post</button>
                                    </div>
                                </div>
                                {{/each}} {{/if}}
                                <label for="userbio" id="lblEventBlog">
                                    <b>Event Communication Chat</b>
                                </label>
                                <textarea type="text" class="form-control" id="txtEventBlog" rows="5"></textarea>
                                <br>
                                <button type="submit" class="btn btn-success btn-block" id="cmdPostMsg">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <strong>Submit Post</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- //// my events - my signed up events - modal ////////////////////////////////////////////////////////// =-->




<div class="background-image-activitypage">
</div>

<script>

    //  nav modal btn ///////////////////////////////////////////////////
    $(document).ready(function () {
        $("#aLogInNav").click(function () {
            $("#logIn").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpNav").click(function () {
            $("#signUp").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpBtn").click(function () {
            $("#signUp").modal();
        });
    });

    // field modal btn //////////////////////////////////////////////////
    $(document).ready(function () {
        $("#cmdsubmitActivBtn").click(function () {
            $("#activity").modal();
        });
    });

</script>