

<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="eventNavBtn" id="divActivityNavBtn">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitActivBtn">
                        <strong>ACTIVITIES</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activity" role="dialog">
    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 30px">
                    <h4 class="modalHeading">
                        <strong>Activity</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div class="form-group" id="divActivityDetails">
                            <label for="activity" id="lblActivityDetails">
                                {{#if likeEventInfo}} {{#each likeEventInfo}}
                                <b href='/event_details/{{this.EventId}}'>{{this.Event.name}}
                                </b>
                                <br>Total Number of Player(s) Needed :{{this.Event.attendants}}
                                <br>Location :
                                <i>{{this.location}}</i>
                                <br> Hosted by :
                                <i>{{this.Event.host}}</i>
                                <br> 
                                <br>Gender :
                                <I>{{this.gender}}</I>
                                

                                <br>
                                <br /> {{/each}} {{else}} you did not commit to any event.. {{/if}} 
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //// my events - my signed up events - modal ////////////////////////////////////////////////////////// =-->

    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 30px">
                    <h4 class="modalHeading">
                        <strong>Activity Blog</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div class="form-group" id="divBlogField">
                            <label for="blog" id="lblBlogField">
                                <span>Blog Field Here</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-image-activitypage">
</div>

<script>

//  nav modal btn ///////////////////////////////////////////////////
    $(document).ready(function () {
        $("#aLogInNav").click(function () {
            $("#logIn").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpNav").click(function () {
            $("#signUp").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpBtn").click(function () {
            $("#signUp").modal();
        });
    });

// field modal btn //////////////////////////////////////////////////
    $(document).ready(function () {
        $("#cmdsubmitActivBtn").click(function () {
            $("#activity").modal();
        });
    });

    $(document).ready(function () {
            $("#aLogInNav").click(function () {
                $("#logIn").modal();
            });
        });

        $(document).ready(function () {
            $("#aSignUpNav").click(function () {
                $("#signUp").modal();
            });
        });

        $(document).ready(function () {
            $("#aSignUpBtn").click(function () {
                $("#signUp").modal();
            });
        });

</script>