<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsoBvfyTjb2cv09tBpnkZxhRF6MTKIgOM&libraries=places&callback=initMap"
    async defer></script>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="eventNavBtn" id="divActivityNavBtn">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitActivBtn">
                        <strong>ACTIVITY</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activity" role="dialog">
    <div class="row">
        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">
                            <div class="form-group" id="divActivityDetails">
                                <label for="activity" id="lblActivityDetails">
                                    <b>{{details.name}}
                                    </b>
                                    <br>Total Number of Player(s) Needed :{{details.attendants}}
                                    <br>Commits :
                                    <i class="time">{{details.numberAttending}}</i>
                                    <br>Location :
                                    <i>{{details.location}}</i>
                                    <br> Hosted by :
                                    <i>{{details.host}}</i>
                                    <br>Fees : 
                                    <i>{{details.fees}}</i>
                                    <br>Gender :
                                    <i>{{details.gender}}</i>
                                    <br>Start Time :
                                    <i class="time">{{details.start_time}}</i>
                                    <br>End Time :
                                    <i class="time">{{details.end_time}}</i>
                                    
                                    <br>
                                    <br />
                                </label>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" id="divUsers">
                                <div class="row">
                                    {{#if attendingUsers}}
                                    {{#each attendingUsers}}
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" src="{{this.photo}}">
                                        <br />
                                        <label class="lblUserName"> {{this.first_name}} {{this.last_name}}</label>

                                    </div>
                                    {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- //// my events - my signed up events - modal ////////////////////////////////////////////////////////// =-->

        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event Map</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">
                            <div class="form-group" id="divEventWeather">
                                <label for="eventWeather" id="lblEventWeather">
                                    <div class="weatherHeading">Event Weather</div>
                                    <div>Temp :
                                        <i></i> Humidity :
                                        <i></i>
                                    </div>
                                </label>
                                <div id="mapCanvas" style="width: 500px; height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <strong>Event Blog</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">
                            <div class="form-group" id="divEventBlog">
                                {{#if discussion}}
                                {{#each discussion}}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                       {{this.message}}<br />
                                        <p class="text-right">by : {{this.User.first_name}}, {{this.User.last_name}}</span>
                                        <p class="text-right"><i class="time">{{this.createdAt}}</i></p>
                                    </div>
                                </div>
                                {{/each}}
                                 {{/if}}
                                <label for="userbio" id="lblEventBlog">
                                    <b>Event Communication Chat</b>
                                </label>
                                <textarea type="text" class="form-control" id="txtEventBlog" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- //// my events - my signed up events - modal ////////////////////////////////////////////////////////// =-->




<div class="background-image-activitypage">
</div>

<script>

    //  nav modal btn ///////////////////////////////////////////////////
    $(document).ready(function () {
        $("#aLogInNav").click(function () {
            $("#logIn").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpNav").click(function () {
            $("#signUp").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpBtn").click(function () {
            $("#signUp").modal();
        });
    });

    // field modal btn //////////////////////////////////////////////////
    $(document).ready(function () {
        $("#cmdsubmitActivBtn").click(function () {
            $("#activity").modal();
        });
    });

</script>