<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsoBvfyTjb2cv09tBpnkZxhRF6MTKIgOM&libraries=places&callback=initMap" async defer></script>
<!-- modal buttons -->
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{#if user}}
                <div class="eventNavBtn myEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitMyEventsBtn">
                        <strong>INTERESTS</strong>
                    </button>
                </div>
                {{/if}}
                <div class="eventNavBtn allEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitAllEventsBtn">
                        <strong>ALL EVENTS</strong>
                    </button>
                </div>
                <div class="eventNavBtn nearYouEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitEventsNearBtn">
                        <strong>EVENTS NEAR YOU</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //// my events btn - my interests modal ////////////////////////////////////////////////////////////////////// =-->

<div class="modal fade" id="myEvents" role="dialog">
    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 30px">
                    <h4 class="modalHeading">
                        <strong>Interests</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div class="form-group" id="divInterests">
                            <label for="interests" id="lblInterests">
                                {{#if otherEvents}} {{#each otherEvents}}
                                <b href='/event_details/{{this.id}}'>{{this.name}}
                                </b>
                                <br>Total Number of Player(s) Needed : {{this.attendants}}
                                <br>Number of Player(s) Commited : {{this.numberAttending}}
                                <br>Gender Specific : <i>{{this.gender}}</i>
                                <br>Location : <i>{{this.location}}</i>
                                <br>Starting At : <i class='time'>{{this.start_time}}</i> Ending At: <i class='time'>{{this.end_time}}</i>
                                <br>Hosted by :
                                <i>{{this.host}}</i>
                                <i>{{this.Event.host}}</i>
                                <br>
                                <button class="cmd cmdGoing" data-event-id='{{this.id}}'>
                                    <strong>Sign Up</strong>
                                </button>
                                <br>
                                <br /> {{/each}} {{/if}} {{!-- list of activities user selected from the user page
                                <span>First Interest</span> --}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //// my events btn - my signed up events modal ////////////////////////////////////////////////////////// =-->

    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 50px">
                    <h4 class="modalHeading">
                        <strong>Signed Up Events</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div class="form-group" id="divSignedUp">
                            <label for="signedUp" id="lblSignedUp">
                                {{#if likeEventInfo}} {{#each likeEventInfo}}
                                <b href='/event_details/{{this.EventId}}'>{{this.Event.name}}
                                </b>
                                <br>Total Number of Player(s) Needed : {{this.Event.attendants}}
                                <br>Number of Player(s) Commited : {{this.Event.numberAttending}}
                                <br>Gender Specific : {{this.Event.gender}}
                                <br>Location :
                                <i>{{this.Event.location}}</i>
                                <br>Starting At : <i>{{this.Event.start_time}} Ending At : {{this.Event.end_time}}</i>
                                <br>Hosted by :
                                <i>{{this.Event.host}}</i>
                                <br> {{!-- this will send them to the activity blog page --}}
                                <button class="cmd cmdDetails" data-event-id='{{this.EventId}}'>View Details</button>


                                <button class="cmd cmdCancel" data-event-id='{{this.EventId}}'>Remove</button>

                                <br>
                                <br /> {{/each}} {{else}} you did not commit to any event.. {{/if}} {{!-- list of activities user
                                has signed up for
                                <span>First Signed Up Event</span> --}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //// all events btn = all events modal ////////////////////////////////////////////////////////// =-->

<div class="modal fade" id="allEvents" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px">
                <h4 class="modalHeading">
                    <strong>All Events</strong>
                </h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">
                    <div class="form-group" id="divEvents">
                        <label for="events" id="lblEvents">
                            {{#if allEvents}} {{#each allEvents}}
                            <b href='/event_details/{{this.id}}'>{{this.name}}
                            </b>
                            <br>Total Number of Player(s) Needed : {{this.attendants}}
                            <br>Gender Specific : <i>{{this.gender}}</i>
                            <br>Location : <i>{{this.location}}</i>
                            <br>Starting At : <i>{{this.start_time}}</i> Ending At : <i>{{this.end_time}}</i>
                            <br>Hosted by :
                            <i>{{this.host}}</i>
                            <i>{{this.Event.host}}</i>
                            <br>
                            {{#if user}}
                            <button class="cmd cmdGoing" data-event-id='{{this.id}}'>
                                <strong>Sign Up</strong>
                            </button>
                            {{/if}}
                            <br>
                            <br /> {{/each}} {{/if}} {{!-- list of all events based on users interests
                            <span>First Event</span> --}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //// events near you btn  - events ear you modal ////////////////////////////////////////////////////////// =-->

<div class="modal fade" id="eventNear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px">
                <h4 class="modalHeading">
                    <strong>Events Near You</strong>
                </h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">
                    location : <input type='text' id='txtSearchLocation' class="controls" placeholder='cleveland, oh' /> <br />
                    radius : <input type='text' id='txtRadius' placeholder='5000' value='5000' />
                    <div id="mapCanvas" style="width: 500px; height: 400px"></div>
                    <div class="form-group" id="divNearYou">
                        <label for="nearYou" id="lblNearYou">
                            <h1>{{this.dataValues.name}}</h1>
                            <div>Host by : {{this.dataValues.host}}</div>
                            <div>Looking for : {{this.dataValues.sex}} with skill level of {{this.dataValues.level}}</div>
                            <div>Start Time : {{this.dataValues.start_time}}</div>
                            <div>End Time : {{this.dataValues.end_time}}</div>
                            <div>More Info : {{this.dataValues.details}}</div>
                            {{!-- list of activities nearest to user based on interests
                            <span>First event near you</span> --}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-image-eventpage">
</div>
