<!-- modal buttons -->
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{#if user}}
                <div class="eventNavBtn myInterests">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitMyInterestsBtn">
                        <strong>INTERESTS</strong>
                    </button>
                </div>
                {{/if}}
                <div class="eventNavBtn allEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitAllEventsBtn">
                        <strong>ALL EVENTS</strong>
                    </button>
                </div>
                <div class="eventNavBtn nearYouEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitEventsNearBtn">
                        <strong>EVENTS NEAR YOU</strong>
                    </button>
                </div>
                <div class="eventNavBtn createEvents">
                    <button type="submit" class="btn btn-primary" id="cmdsubmitCreateEventBtn">
                        <strong>HOST AN EVENT</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //// my events btn - my interests modal ////////////////////////////////////////////////////////////////////// =-->
<div class="modal fade" id="myInterests" role="dialog">
    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 30px">
                    <h4 class="modalHeading">
                        <strong>Interests</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div id="msg-center" class="alert alert-danger text-center">testing</div>
                    {{#if otherEvents}} {{#each otherEvents}}
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" id="divInterests">
                                <label for="interests" id="lblInterests">
                                    <b href='/event_details/{{this.id}}'>{{this.name}}</b>
                                    <br> Total Number of Player(s) Needed :
                                    <i>{{this.attendants}}</i>
                                    <br> Number of Player(s) Commited :
                                    <i>{{this.numberAttending}}</i>
                                    <br> Gender Specific :
                                    <i>{{this.gender}}</i>
                                    <br>
                                    <br> Starting At :
                                    <i class='time'>{{this.start_time}}</i>
                                    <br/> Ending At:
                                    <i class='time'>{{this.end_time}}</i>
                                    <br>
                                    <br> Location :
                                    <i>{{this.location}}</i>
                                    <br>
                                    <button class="btn btn-default cmd cmdGoing" data-event-id='{{this.id}}'>
                                        <strong>Sign Up</strong>
                                    </button>
                                    <br>
                                    <br>
                                    <br>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-thumbnail" src="{{this.User.photo}}">
                            <br>
                            <br>
                            <strong>Hosted By : </strong>
                            <label class="lblUserName">
                                <i>{{this.User.first_name}}</i>
                                <i>{{this.User.last_name}}</i>
                            </label>
                        </div>
                    </div>
                    {{/each}} {{else}} add some sports in
                    <a href='/user/{{user.id}}'>user profile</a> to get started! {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!-- //// signed up events modal ////////////////////////////////////////////////////////// =-->
    <div class="col-sm-6">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:15px 50px">
                    <h4 class="modalHeading">
                        <strong>Signed Up Events</strong>
                    </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="row">
                        <div class="form-group" id="divSignedUp">
                            <label for="signedUp" id="lblSignedUp">
                                {{#if likeEventInfo}} {{#each likeEventInfo}}
                                <b href='/event_details/{{this.EventId}}'>{{this.Event.name}}</b>
                                <br> Total Number of Player(s) Needed :
                                <i>{{this.Event.attendants}}</i>
                                <br> Number of Player(s) Commited :
                                <i>{{this.Event.numberAttending}}</i>
                                <br> Gender Specific :
                                <i>{{this.Event.gender}}</i>
                                <br>
                                <br> Starting At :
                                <i class="time">{{this.Event.start_time}}</i>
                                <br/> Ending At :
                                <i class="time">{{this.Event.end_time}}</i>
                                <br>
                                <br> Location :
                                <i>{{this.Event.location}}</i>
                                <br> Hosted by :
                                <i>{{this.Event.host}}</i>
                                <br> {{!-- this will send them to the activity blog page --}}
                                <button class="btn btn-default cmd cmdDetails" data-event-id='{{this.EventId}}'>
                                    <strong>View Details</strong>
                                </button>
                                <button class="btn btn-default cmd cmdCancel" data-event-id='{{this.EventId}}'>
                                    <strong>Remove</strong>
                                </button>
                                <br>
                                <br>
                                <br/> {{/each}} {{else}} you did not commit to any event.. {{/if}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //// all events modal ////////////////////////////////////////////////////////// =-->
<div class="modal fade" id="allEvents" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px">
                <h4 class="modalHeading">
                    <strong>All Events</strong>
                </h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                {{#if allEvents}} {{#each allEvents}}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group" id="divAllEvents">
                            <input class='eventDetailsOnMap' type="hidden" data-name="{{this.name}}" data-location="{{this.location}}" data-start="{{this.start_time}}"
                                data-end="{{this.end_time}}" data-phone="{{this.phone_contact}}">
                            <label for="allEvents" id="lblAllEvents">
                                {{!-- {{#if allEvents}} {{#each allEvents}} --}}
                            <b class='eventName' href='/event_details/{{this.id}}'>{{this.name}}</b>
                                <br> Total Number of Player(s) Needed :
                                <i>{{this.attendants}}</i>
                                <br> Number of Player(s) Commited :
                                <i>{{this.numberAttending}}</i>
                                <br> Gender Specific :
                                <i>{{this.gender}}</i>
                                <br>
                                <br> Starting At :
                            <i class="start time">{{this.start_time}}</i>
                                <br/> Ending At :
                            <i class="end time">{{this.end_time}}</i>
                                <br>
                                <br> Location :
                            <i class='location'>{{this.location}}</i>
                                <br> {{#if user}}
                                <button class="cmd cmdGoing" data-event-id='{{this.id}}'>
                                    <strong>Sign Up</strong>
                                </button>
                                {{/if}}
                                <br>
                                <br>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="{{User.photo}}">
                        <br>
                        <br>
                        <strong>Hosted By : </strong>
                        <label class="lblUserName"> {{this.User.first_name}} {{this.User.last_name}}</label>
                    </div>
                </div>
                {{/each}} {{/if}}
            </div>
        </div>
    </div>
</div>
<!-- //// events near you modal ////////////////////////////////////////////////////////// =-->
<div class="modal fade" id="eventNear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px">
                <h4 class="modalHeading">
                    <strong>Events Near You</strong>
                </h4>
            </div>
            <div class="modal-body" style="padding:40px 65px;">
                <div class="row">
                    <strong>Location : </strong>
                    <input type='text' id='txtSearchLocation' class="form-control controls" placeholder='cleveland, oh' />