<div class="container">
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Current Activity Near You!!
                </div>
                {{#each events}}
                <div class="panel-body">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h1>{{this.dataValues.name}}</h1>
                        </div>
                        <div class="panel-body">
                            <div>Host by : {{this.dataValues.host}}</div>
                            <div>Looking for : {{this.dataValues.sex}} with skill level of {{this.dataValues.level}}</div> 
                            <div>Start Time : {{this.dataValues.start_time}}</div>
                            <div>End Time : {{this.dataValues.end_time}}</div>
                            <div>More Info : {{this.dataValues.details}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Featured Users
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {{#each users}}
                            <tr>
                                <td>
                                    {{this.dataValues.first_name}}  {{this.dataValues.last_name}}
                                </td>
                                
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Testing event display -->
    {{!-- <div class="row">
        <div class="col-md-12">
            {{#each eventDisplay}}
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{this.name}}
                    </div>
                    <div class="panel-body">
                        {{this.location}}
                        <br />
                        {{this.details}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div> --}}

    <!-- Test user display -->
    <div class= "row">
        <div class="col-md-12">
            <b>User Profile: </b> <br />
            {{user.first_name}} {{user.last_name}}<br />
            {{user.email}}<br />
            {{user.dob}}<br />
            {{user.bio}}<br />
        </div>
        <div class="col-md-12">
            <b>Interested Sports:</b> <br />
            {{#if sports}}
                {{#each sports}}   
                    {{this.name}} - {{this.sport_type}}<br />
                {{/each}}
            {{else}}
                you do not have any interested sport..
            {{/if}}
        </div>
        <div class="col-md-12">
            <b>Events you are attending: </b><br />
            {{#if bookedEvent}}
                {{#each bookedEvent}}
                    <a href='/event/{{this.id}}'>{{this.name}}</a> - looking for {{this.attendants}} player(s), event hosted by.. <i>{{this.host}}</i><br />
                {{/each}}
            {{else}}
                you do not commit to any event..
            {{/if}}
        </div>
        <div class="col-md-12">
            <b>Other Sports You may consider..</b><br />
            {{#each otherSports}}
                Sport name : {{this.name}} - Sport type : {{this.sport_type}}<br />
            {{/each}}
        </div>
    </div>
</div>