<div class="container">
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Current Activity Near You!!
                </div>
                {{#each events}}
                <div class="panel-body">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h1>{{this.dataValues.name}}</h1>
                        </div>
                        <div class="panel-body">
                            <div>Host by : {{this.dataValues.host}}</div>
                            <div>Looking for : {{this.dataValues.sex}} with skill level of {{this.dataValues.level}}</div> 
                            <div>Start Time : {{this.dataValues.start_time}}</div>
                            <div>End Time : {{this.dataValues.end_time}}</div>
                            <div>More Info : {{this.dataValues.details}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Featured Users
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {{#each users}}
                            <tr>
                                <td>
                                    {{this.dataValues.first_name}}  {{this.dataValues.last_name}}
                                </td>
                                
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Testing event display -->
    {{!-- <div class="row">
        <div class="col-md-12">
            {{#each eventDisplay}}
                <div class="panel panel-default">
                    <div class="panel-title">
                        {{this.name}}
                    </div>
                    <div class="panel-body">
                        {{this.location}}
                        <br />
                        {{this.details}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div> --}}

    <!-- Test user display -->
    <h1>User Section</h1>
    <div class= "row">
        <div class="col-md-12">
            <b>User Profile: </b> <br />
            {{user.first_name}} {{user.last_name}}<br />
            {{user.email}}<br />
            {{user.dob}}<br />
            {{user.bio}}<br />
        </div>
        <div class="col-md-12">
            <b>Interested Sports:</b> <br />
            {{#if likeSportsInfo}}
                {{#each likeSportsInfo}}   
                    {{this.Sport.name}} - from 1 to 5, i am {{this.level}} good  edit -> <input type="text" class="txtLevel" data-id={{this.Sport.id}} value={{this.level}}><br />
                {{/each}}
                <button id="cmdChangeLevel"> Submit </button>
            {{else}}
                you do not have any interested sport..
            {{/if}}
        </div>
        <div class="col-md-12">
            <b>Events you are attending: </b><br />
            {{#if likeEventInfo}}
                {{#each likeEventInfo}}
                    <a href='/event_details/{{this.EventId}}'>{{this.Event.name}}</a> - looking for {{this.Event.attendants}} player(s), event hosted by.. <i>{{this.Event.host}}</i>
                    <button class="cmdCancel" data-event-id='{{this.EventId}}'>Change my mind</button><br />
                {{/each}}
            {{else}}
                you did not commit to any event..
            {{/if}}
        </div>
        <div class="col-md-12">
            <b>Event you should consider attending:</b> <br />
            {{#if otherEvents}}
                {{#each otherEvents}}
                    <a href='/event_details/{{this.id}}'>{{this.name}}</a> - looking for {{this.attendants}} player(s), event hosted by..
                    <i>{{this.host}}</i>
                    <i>{{this.Event.host}}</i>
                    <button class="cmdGoing" data-event-id='{{this.id}}'>I'm in!!</button>
                    <br />
                {{/each}}
            {{/if}}
        </div>
        <div class="col-md-12">
            <b>Other Sports You may consider..</b><br />
            {{#each otherSports}}
                Sport name : {{this.name}} <input type="text" class="txtNewSportLevel" data-id='{{this.id}}' value='0' />
                <br />
            {{/each}}
            <button id="cmdAddSports">Add Sports </button>
        </div>
    </div>
    <div class="row divNewUser">
        <div class="col-md-12">
            <h1>Create New User</h1>
                <input type="text" placeholder="username" class="txtUserName" /> <br />
                <input type="text" placeholder="email address" class="txtEmail" /><br />
                <label>Password :</label> <input type="password" class="txtPassword" /><br />
                
                <input type="text" placeholder="first-name" class="txtFirstName"/>
                <input type="text" placeholder="first-name" class="txtFirstName" /> <br />
                <label>Gender: </label><br />
                <input type="radio" value="Male" name="gender">Male <br />
                <input type="radio" value="Female" name="gender">Female<br />
                <input type="radio" value="Unspecified" name="gender">Unspecified<br />
                
                <input type="text" placeholder="location" class="txtLocation" /><br />
                <input type="text" placeholder="hometown" class="txtHometown" /><br />
                <label>Date of Birth:</label>
                <input type="date" name="dob" class="dpDob"><br />
                <input type="text" placeholder="photo" class="txtPhoto" /><br />
                <label>Bio </label>
                <textarea class="taBio"></textarea>
                <br />
                <button type="button" id="cmdSignUp">Sign Up</button>

        </div>
    </div>
    <br />
    <br />
    <!-- Test event display -->

    <div class="row">
        <h1>Events Section</h1>
        <br /><b>{{title}}</b><br />
        <div class="col-md-12">
            {{eventToDisplay.title}}
            <b>User Info</b><br />
            {{#each user}}
                {{this.first_name}} {{this.last_name}}<br /><br />                
            {{/each}}
            <b>Events: </b><br /><br />
            {{#each event}}
                Name : {{this.name}} <br />
                Location : {{this.location}}<br />
                Details : {{this.details}}<br /><br />
            {{/each}}
        </div>
        <div class="col-md-12">
            <b>Other events you might be interested in</b> <br /><br />
            {{#each otherEvent}}
                Name : {{this.name}} <br />
                Location : {{this.location}}<br />
                
                Details : {{this.details}}<br /><br />
            {{/each}}
        </div>
    </div>


</div>