<!-- user information ////////////////////////////////////////////////////////////////// -->

<div class="modal fade" id="signUp" role="dialog">

    <div class="row">
        <div class='container'>
            <div class="col-md-12">
                <div id="msg-center" class="alert msg-center">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 30px">
                        <h4 class="modalHeading">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong> User Information</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 30px;">
                        <div role="form">
                            {{#if user.photo}}
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group" id="divFirstName">
                                            <label for="firstname" id="lblFirstName">
                                                <span>First Name</span>
                                            </label>
                                            <input type="text" class="form-control txtFirstName" id="txtFirstName" placeholder="First Name" {{#if user.first_name}} value='{{user.first_name}}'
                                                {{/if}}>
                                        </div>
                                        
                                        <div class="form-group" id="divLastName">
                                            <label for="lastname" id="lblLastName">
                                                <span>Last Name</span>
                                            </label>
                                            <input type="text" class="form-control txtLastName" id="txtLastName" placeholder="Last Name" {{#if user.last_name}} value='{{user.last_name}}'
                                                {{/if}}>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src='{{user.photo}}' class='img-thumbnail thumbnail' />
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group" id="divFirstName">
                                <label for="firstname" id="lblFirstName">
                                    <span>First Name</span>
                                </label>
                                <input type="text" class="form-control txtFirstName" id="txtFirstName" 
                                    placeholder="First Name" 
                                    {{#if user.first_name}} value='{{user.first_name}}'{{/if}}>
                            </div>

                            <div class="form-group" id="divLastName">
                                <label for="lastname" id="lblLastName">
                                    <span>Last Name</span>
                                </label>
                                <input type="text" class="form-control txtLastName" id="txtLastName" 
                                    placeholder="Last Name" 
                                    {{#if user.last_name}} value='{{user.last_name}}'{{/if}}>
                            </div>

                            {{#unless user.gender}}
                            <div class="form-group" id="divGender">
                                <label for="gender" id="lblGender">
                                    <span>Gender</span>
                                </label>
                                <label class="radio-inline" id="lblGenderMale">
                                    <input type="radio" name="gender" value='male' checked="checked">Male
                                </label>
                                <label class="radio-inline" id="lblGenderFemale">
                                    <input type="radio" name="gender" value='female'>Female
                                </label>
                            </div>
                            {{/unless}}

                            <div class="form-group" id="divLocation">
                                <label for="location" id="lblLocation">
                                    <span>Location</span>
                                </label>
                                <div class="form-inline">
                                    <div class="form-group" id="divLocationCity">
                                        <input type="text" class="form-control txtCityLocation" id="txtLocationCity" 
                                            placeholder="City" name="location" style="width:auto"
                                            {{#if user.city}} value='{{user.city}}'{{/if}}>
                                    </div>
                                    <div class="form-group" id="divLocationState">
                                        <select class="ddl-states">
                                            {{#if user.state}}
                                            <option data-id={{user.id}} value={{user.state}}>{{user.state}}</option>
                                            {{else}}
                                            <option>State</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            {{#unless user.dob}}
                            <div class="form-group" id="divDateBirth">
                                <label for="dateBirth" id="lblDateBirth">
                                    <span>Date Of Birth</span>
                                </label>
                                <br>
                                <input type="date" class="form-control dpDob" id="txtDateBirth" name="dateBirth" required />
                            </div>
                            {{/unless}}
                            
                            {{#unless user.username}}
                            <div class="form-group" id="divInfoUserName">
                                <label for="infousername" id="lblInfoUserName">
                                    <span>User Name</span>
                                </label>
                                <input type="text" class="form-control txtUserName" id="txtInfoUserName" placeholder="User Name" name="infousername" required />
                            </div>
                            {{/unless}}
                            
                            {{#unless user.password}}
                            <div class="form-group" id="divInfoPwd">
                                <label for="infopwd" id="lblInfoPwd">
                                    <span>Password</span>
                                </label>
                                <input type="password" class="form-control txtPassword" id="txtInfoPwd" placeholder="Password" name="infopwd" required />
                            </div>
                            {{/unless}}

                            <div class="form-group" id="divEmail">
                                <label for="email" id="lblEmail">
                                    <span>Email Address</span>
                                </label>
                                <input type="text" class="form-control txtEmail" id="txtEmailAddress" 
                                    placeholder="Email Address" name="email" required 
                                    {{#if user.email}} value='{{user.email}}' {{/if}}>
                            </div>

                            <div class="form-group" id="divUserImage">
                                <label for="userimage" id="lblUserImage">
                                    <span>User Image</span>
                                </label>
                                <input type="text" class="form-control txtPhoto" id="txtUserImage" 
                                    placeholder="http://image" name="useriamge"
                                    {{#if user.photo}} value='{{user.photo}}' {{/if}}>
                            </div>

                            <div class="form-group" id="divUserBio">
                                <label for="userbio" id="lblUserBio">
                                    <span>Bio About You</span>
                                </label>
                                <textarea type="text" class="form-control taBio" id="txtUserBio" rows="5">{{#if user.bio}} {{user.bio}} {{/if}}</textarea>
                            </div>

                            <button type="submit" class="btn btn-success btn-block" id={{#if user}} "cmdSaveChanges"{{else}} "cmdSignUp"{{/if}}>
                                <span class="glyphicon glyphicon-save"></span>
                                <strong>{{#if user.id}} Update Profile {{else}} Submit Profile {{/if}}</strong>
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" id="btnUserInfoCancel" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 sport-section">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-15px 30px">
                        <h4 class="modalHeading">
                            <strong> Interested Sports</strong>
                        </h4>
                    </div>

                    <div class="modal-body" style="padding: 40px 30px;">
                        <div role="form">
                            <div class="slider-container">
                                <div class="row">
                                    {{#each likeSportsInfo}}
                                    <div class="col-md-6">
                                        <label for="slider" class="sportChoices">
                                        </label>
                                        <strong>{{this.Sport.name}} - level {{this.level}} </strong>
                                        <br />
                                        <input class="slider currentUser" type="text" data-id="{{this.SportId}}" data-slider-value={{#if this.level}}{{this.level}}{{else}}0{{/if}}
                                            data-value={{#if this.level}}{{this.level}}{{else}}0{{/if}} value={{#if this.level}}{{this.level}}{{else}}0{{/if}}/>
                                        <br>
                                        <br>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-block" id="cmdChangeLevel">
                                <span class="glyphicon glyphicon-ok"></span>
                                <strong>Save</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 other-sport-section">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-15px 30px">
                        <h4 class="modalHeading">
                            <strong>Other Sports</strong>
                        </h4>
                    </div>
                    <div class="modal-body" style="padding:40px 30px;">
                        <div role="form">
                            <div class="form-group">
                                <div class="slider-container">
                                    <div class="row">
                                        {{#each otherSports}}
                                        <div class="col-md-6">
                                            <label for="slider" class="sportChoices">
                                                <strong>Sport name : {{this.name}}</strong>
                                            </label>
                                            <br />
                                            <input class="newSportSlider" type="text" data-id="{{this.id}}" value="{{#if this.level}}{{this.level}}{{else}}0{{/if}}" />
                                            <br>
                                            <br>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-block" id="cmdAddSports">
                                <span class="glyphicon glyphicon-ok"></span>
                                <strong>Save</strong>
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" id="btnActivInterestCancel" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-image-userpage">
</div>

<script>
    $(document).ready(function () {
        $("#aLogInNav").click(function () {
            $("#logIn").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpNav").click(function () {
            $("#signUp").modal();
        });
    });

    $(document).ready(function () {
        $("#aSignUpBtn").click(function () {
            $("#signUp").modal();
        });


    });


</script>